@tailwind base;
@tailwind components;
@tailwind utilities;

.app-grid {
    grid-template-columns: 20% 80%;
}
.user-grid {
    grid-template-columns: 30% 70%;
}
.set-grid {
    grid-template-columns: 37% 23% 21% 19% ;
}
.report:hover {
    color: black !important;
}

@media (max-width: 480px) {
    .set-grid {
        grid-template-columns: 44% 21% 26% 9% ;
    }
}